# Default ignored files
/shelf/
/workspace.xml

/deploymentTargetSelector.xml
/deploymentTargetDropdown.xml
/migrations.xml
/other.xml
/misc.xml

studiobot.xml
kotlinc.xml
gradle.xml
/inspectionProfiles/Project_Default.xml
compiler.xml
runConfigurations.xml
emulatorDisplays.xml
detekt.xml
deviceManager.xml
appInsightsSettings.xml
